fastapi
uvicorn[standard]
sqlalchemy
mysql-connector-python
passlib[bcrypt]
python-dotenv
pydantic-settings
python-jose[cryptography]
pydantic[email]
python-multipart
Pillow
python-magic
python-dateutil
boto3
firebase-admin
